@import "tailwindcss";

:root {
  --color-primary: #f97316;
  --color-primary-dark: #ea580c;
  --color-primary-light: #fff7ed;
  --color-text: #1c1917;
  --color-gray: #78716c;
  --color-border: #e7e5e4;
}
